body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px solid rebeccapurple;
    border-radius: 7px;
    padding: 5px 15px;
    margin: 15px 0 0 0;
    height: 150px;
    width: 300px;
}
.tittle{
    font-size: 23px;
    color: blue;
}
.calback{
    font-size: 20px;
    color: crimson;
}